.dekstop{
    background-size: cover;
    background-repeat: none;
    flex-basis: 97%;
    background-position: center;
    padding: 1.5rem .8rem;
    cursor: pointer;
    position: relative;
   
    
}
.itemContainer {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(7, 60px);    
    grid-auto-flow: column;

    gap: 20px;


}