.dekstop{
    background-size: cover;
    background-repeat: none;
    height: 97%;
    background-position: center;
    padding: 1rem .8rem;
    
}
.itemContainer {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(7, 60px);    grid-auto-flow: column;

    gap: 20px;


}